In [1]:
from dhs import DHSDataset

In [2]:
dhsd = DHSDataset("./PHIR70DT/PHIR70FL.DTA")

In [8]:
dhsd.df.groupby('region').mean()

           toilet  floor_type  education
region
1       13.234021   32.521649  11.172165
2       13.368322   30.634489  11.260544
3       12.661479   31.827821  10.998541
4       13.356436   31.852192  11.171146
5       16.283800   31.641291  10.431181
6       14.432836   29.235362  10.855339
7       16.101295   32.168317  10.742574
8       16.194984   31.036991  10.371787
9       15.120092   27.463048  10.070439
10      14.127141   28.836627  10.554018
11      13.763823   27.954186   9.787520
12      15.924561   27.528947   9.814035
13      12.576923   32.746309  11.883450
14      14.633764   30.015657  11.208986
15      26.366686   25.268334   8.446845
16      15.535764   29.812763  10.557504
17      14.882259   29.118536  10.248210